
@import '../utils/colors';
@import '../utils/mixins';
@import '../utils/btn';
@import '../components/footer';
@import '../components/header';


body {
    background-color: $background-color;
    font-family: roboto;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}

.subHeader {

    text-align: center;
    background-color: $background-color;
    margin: 25px 0px 25px 0px;
    .subHeader__h1 {
        font-size: 24px;
        color: black;
        font-weight: 700;
    }

    .subHeader__p {
        font-size: 18px;
        font-weight: 300;
        color:$footer-color
    }
   
}
.btn-gradient{
    margin-top: 20px auto;
    width: fit-content;
    min-width: 180px;
}  
.nav-functioning{
    background-color: white;
    width: 100%;
    height: 440px;
    padding: 20px 0px 20px 0px;
    margin-bottom: 25px;
    position: relative;
    .nav-functioning__h2{
        font-weight: 700;
        margin: 20px;
    }
    .nav-functioning-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (min-width: 1024px) {
            flex-direction: row;
        }
    }
    .choice-btn{
        display: flex;
        flex-direction: row;
        
    }
    .bubble-number__functioning{
        @include bubble-number;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -1px;
    }
} 
.i-list{
    padding-right: 20px;
    color:$footer-color
}  
.i-list-color{
    padding-right: 20px;
    color:$purple;
}  


.restaurants{
    background-color: $background-color;
    width: 100%;
    padding: 20px 0px 20px 0px;
    margin-bottom: 35px; 
    .restaurants__h2{
        font-weight: 700;
        margin: 10px 0px 20px 20px;
       
    }
    .restaurants__restaurant-card{
       
        @include card-restaurant 
        
    }
    @media screen and (min-width: 1024px){
       
        flex-direction:row;
    
}
    .restaurants__img-card{
        @include img-card
       
    }
    .restaurants__h3{
        font-size: 18px;
        margin: 10px 0 0 10px;
    }
    .restaurants__P{
        font-size: 17px;
        font-weight: 300;
        margin:5px 0 10px 10px;
    }
    a{
        text-decoration: none;
        color: black;
    }
   
    .restaurants__heart-container-home{
        @extend .heart-container;
        display: flex;
        justify-content: flex-end;
        position: relative;
        width: 95%;
        top: -45px;
        
    }
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    position:fixed;
    inset:0;
    z-index: 1;
    opacity: 1;
    background-color: white;
    animation: timer 1s both;
    animation-delay: 2s;
   transform-origin: bottom;
   &::after{
    content: "ohmyfood";
    font-family:Shrikhand; 
    font-size: xx-large;
    color: $purple;
    animation: spin infinite linear 2s;
    border: 5px dashed $pink;
    border-radius: 50%;
    padding: 10%;
    
   }
  } 
  @keyframes timer {
    0%{
      transform: scale(1);
    }
    100%{
      transform:scale(0);
    }
  }
  @keyframes spin{
    to {
      transform: rotateY( 360deg);
    }
  }
  