
@import '../utils/colors';
@import '../utils/mixins';
@import '../utils/btn';
@import '../components/footer';
@import '../components/header';


body {
    background-color: $background-color;
    font-family: roboto;
    width: 100%;
    margin: 0px;
}

.subHeader {

    text-align: center;
    background-color: $background-color;
    margin: 25px 0px 25px 0px;
    .subHeader__h1 {
        font-size: 24px;
        color: black;
        font-weight: 700;
    }

    .subHeader__p {
        font-size: 18px;
        font-weight: 300;
        color:$footer-color
    }
   
}
.btn-gradient{
    margin-top: 20px;
}  
.nav-functioning{
    background-color: white;
    width: 100%;
    padding: 20px 0px 20px 20px;
    margin-bottom: 40px;
    .nav-functioning__h2{
        font-weight: 700;
        margin: 20px;
    }
    .nav-functioning-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .choice-btn{
        display: flex;
        flex-direction: row;
        
    }
} 
.bubble-number{
    @include bubble-number;
    position: relative;
}
.i-list{
    padding-right: 20px;
}  
.i-list-color{
    padding-right: 20px;
    color:$purple;
}  
.itemMenu {
    @include card-clickable($color : black);
}