footer{
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
    .footer{
    background-color: $footer-color;
    color: white;
    width: 100%;
    padding:10px 10px 10px 0px;
    gap: 16px;
    .footer__h2{
        font-family: shrikhand;
        margin-left: 20px;
    }
    
    .footer__list-footer{
        text-decoration: none;
        color:$footer-color;
       
}

ul{
    color: white;
    margin-left: -20px;
}
}