
.footer{
    background-color: $footer-color;
    color: white;
    width: 100%;
    .footer__h2{
        font-family: shrikhand;
        margin-left: 20px;
    }
    
    .footer__list-footer{
        text-decoration: none;
        color:$footer-color;
     
    }
}

ul{
    color: white;

}