.btn-gradient{
    @include card-clickable;
    background: $gradient-btn;
    border-radius: 50px; 
    font-size: 15px;
}
.choice-btn{
    @include card-clickable;
    margin: 10px 25px 15px 25px;
    color: black;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: auto;
    font-size: 16px;
}
