@mixin card-clickable($padding : 18px, $color : white, $bg : white, $radius : 20px){
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px #00000026;
    border: none;


    padding: $padding;
    color: $color;
    background-color: $gradient-btn;
    border-radius: $radius;
}
@mixin bubble-number($margin: 10px,  $bgc:$purple, $color: white, $br: 50px){
    border: none;

    margin:$margin;
    background-color: $bgc;
    color: $color;
    border-radius: $br;
}